# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Dependency directories
/jspm_packages/
/bower_components/

# Distribution directories
/dist/
/out/

# Sass
.sass-cache/
.sass-cache/
*.css.map

# Optional npm cache directory
.npm

# Environment
.env

# Python Version not for Github
*.py